*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/gradle
*.properties
gradlew
*.bat
/phoneshopping/.idea
/phoneshopping/gradle
/phoneshopping/gradlew
/phoneshopping/*.bat
/phoneshopping/*.properties
/phoneshopping/*.iml